In [1]:
#########################################################
# Input & Output
# Author : Rodrique KAFANDO
# Destination : Master FD&IA - UV-BF
# Online : 20.08.2021
#########################################################

In [2]:
######
# Ce cours est dédié à l'importation et à l'exportation de données 
# à partir de fichiers avec python
# CSV, Excel, txt, etc.
######

In [3]:
## start importing pandas
import pandas as pd

# 1 -  Lire un csv à partir d'une URL
* RQ : une URL est lue de la même façon qu'un fichier vous avez déjà téléchargé en local sur votre machine

In [4]:
### download and read data from an url
url = "https://www.data.gov.bf/sites/default/files/naissances2017.csv"
naissances2017 = pd.read_csv(url)
naissances2017.head()

,Régions,strucures sanitaires,total des naissances vivantes,Naissances vivantes Moins de 2500 g,Naissances vivantes prématurés,Naissances Mort-nés Frais,Naissances Mort-nés Macérés
0,Boucle du Mouhoun,CHR Dédougou,1503,365,157,94,68
1,Boucle du Mouhoun,DS Boromo,11290,1451,306,117,147
2,Boucle du Mouhoun,DS Dedougou,14938,1301,280,102,125
3,Boucle du Mouhoun,DS Nouna,15645,1383,242,131,144
4,Boucle du Mouhoun,DS Solenzo,13613,1365,351,62,170

In [5]:
### Convert series to list or dict!
naissances2017['Régions'].tolist()
naissances2017['Régions'].to_dict()

{0: 'Boucle du Mouhoun',
 1: 'Boucle du Mouhoun',
 2: 'Boucle du Mouhoun',
 3: 'Boucle du Mouhoun',
 4: 'Boucle du Mouhoun',
 5: 'Boucle du Mouhoun',
 6: 'Boucle du Mouhoun',
 7: 'Cascades',
 8: 'Cascades',
 9: 'Cascades',
 10: 'Cascades',
 11: 'Centre',
 12: 'Centre',
 13: 'Centre',
 14: 'Centre',
 15: 'Centre',
 16: 'Centre',
 17: 'Centre',
 18: 'Centre',
 19: 'Centre',
 20: 'Centre-Est',
 21: 'Centre-Est',
 22: 'Centre-Est',
 23: 'Centre-Est',
 24: 'Centre-Est',
 25: 'Centre-Est',
 26: 'Centre-Est',
 27: 'Centre-Est',
 28: 'Centre- Nord',
 29: 'Centre- Nord',
 30: 'Centre- Nord',
 31: 'Centre- Nord',
 32: 'Centre- Nord',
 33: 'Centre- Nord',
 34: 'Centre- Nord',
 35: 'Centre-Ouest',
 36: 'Centre-Ouest',
 37: 'Centre-Ouest',
 38: 'Centre-Ouest',
 39: 'Centre-Ouest',
 40: 'Centre-Ouest',
 41: 'Centre-Ouest',
 42: 'Centre-Ouest',
 43: 'Centre-Sud',
 44: 'Centre-Sud',
 45: 'Centre-Sud',
 46: 'Centre-Sud',
 47: 'Est',
 48: 'Est',
 49: 'Est',
 50: 'Est',
 51: 'Est',
 52: 'Est',
 53: 'Est',
 54: 'hauts-bassins',
 55: 'haut-bassins',
 56: 'haut-bassins',
 57: 'haut-bassins',
 58: 'haut-bassins',
 59: 'haut-bassins',
 60: 'haut-bassins',
 61: 'haut-bassins',
 62: 'haut-bassins',
 63: 'Nord',
 64: 'Nord',
 65: 'Nord',
 66: 'Nord',
 67: 'Nord',
 68: 'Nord',
 69: 'Nord',
 70: 'Plateau central',
 71: 'Plateau central',
 72: 'Plateau central',
 73: 'Sahel',
 74: 'Sahel',
 75: 'Sahel',
 76: 'Sahel',
 77: 'Sahel',
 78: 'Sud-ouest',
 79: 'Sud-ouest',
 80: 'Sud-ouest',
 81: 'Sud-ouest',
 82: 'Sud-ouest',
 83: 'Sud-ouest'}

In [6]:
### extraire la liste des régions et la sauvegarder dans un fichier texte
naissances2017['Régions'].str.title().drop_duplicates().sort_values()

0     Boucle Du Mouhoun
7              Cascades
11               Centre
28         Centre- Nord
20           Centre-Est
35         Centre-Ouest
43           Centre-Sud
47                  Est
55         Haut-Bassins
54        Hauts-Bassins
63                 Nord
70      Plateau Central
73                Sahel
78            Sud-Ouest
Name: Régions, dtype: object

In [7]:
l = [2,3,3,4,5,5] # => [2,3,4,5]
l

[2, 3, 3, 4, 5, 5]

In [8]:
# unique values
set(l)

{2, 3, 4, 5}

In [9]:
pd.Series(l).unique()

array([2, 3, 4, 5])

# 2 - Exporter un DF avec la methode to_csv()

## 2-1 - Exporter tout la DF

In [10]:
##
naissances2017.to_csv('bf_naissances2017.csv', encoding= 'utf-8')
# vous pouvez specifier aussi un séparateur avec le parametre sep=

In [11]:
naissances2017.to_csv('_bf_naissances2017.csv', index = False, sep = '\t',encoding= 'utf-8')
# si voulez enregistrer sans les index, index= False
# autres séparateurs : ',', ';', ou personalisés

## 2-2 - Exporter une partie du DF

In [28]:
need_cols = ["Régions",	"strucures sanitaires",	"total des naissances vivantes",	"Naissances vivantes Moins de 2500 g"]
naissances2017.to_csv('bf_naissances2017.csv', index = False, columns=need_cols, sep = '\t') # si voulez enregistrer sans les index

# 3 - Importer un fichier Excel
* installer les librairies xlrd et openpyxl
* mehtode read_excel()
* methode ExcelFile()

In [ ]:
# la methode read_excel() de pandas

### 3-1 Lire un fichier excel contenant une seule feuille

In [12]:
### lire un fichier excel contenant une seule feuille
url = 'https://www.data.gov.bf/sites/default/files/transport7.xlsx'
copiedeexportstucturessante = pd.read_excel(url)
copiedeexportstucturessante

,Unnamed: 0,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Voitures particulières,42622.0,48386.0,53983.0,61639.0,67062.0,74393.0,82296.0,90800.0,97052.0,103623.0,110931.0,120209.0,131452.0,146076.0,162417.0,179832.0,198488,217331,238180
1,Camionnettes,12164.0,13197.0,14184.0,15621.0,16454.0,18025.0,19787.0,21803.0,23047.0,24576.0,26130.0,27949.0,30134.0,32915.0,35285.0,37493.0,39491,41304,43504
2,Camions,6267.0,6991.0,7652.0,8697.0,9462.0,10684.0,12015.0,13406.0,14232.0,14969.0,15830.0,17227.0,18985.0,21638.0,24139.0,26342.0,28231,30097,32502
3,Transport en commun,3418.0,3798.0,4098.0,4506.0,4671.0,5036.0,5491.0,5975.0,6274.0,6678.0,7034.0,7494.0,8032.0,8816.0,9615.0,10296.0,10952,11596,12383
4,Tracteurs routiers,3219.0,3666.0,3947.0,4521.0,5618.0,6779.0,7738.0,8498.0,8860.0,9203.0,9706.0,10624.0,12060.0,13643.0,15441.0,17237.0,19475,21346,23633
5,Remorques,175.0,176.0,177.0,180.0,206.0,212.0,221.0,237.0,240.0,241.0,241.0,242.0,249.0,263.0,273.0,308.0,325,336,345
6,Semi-remorques,2927.0,3344.0,3614.0,4193.0,4933.0,6005.0,6919.0,7735.0,8058.0,8278.0,8635.0,9272.0,10436.0,11712.0,13142.0,14475.0,16291,17787,19611
7,Véhicules spéciaux,199.0,327.0,283.0,306.0,384.0,473.0,564.0,710.0,905.0,1128.0,1300.0,1597.0,1829.0,2218.0,2547.0,3078.0,3431,3881,4459
8,vehicule agricole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,120,158
9,Autres automobiles,179.0,89.0,392.0,411.0,252.0,264.0,284.0,308.0,313.0,316.0,324.0,328.0,331.0,338.0,343.0,379.0,386,386,388

### 3-2 Lire un fichier excel contenant plusieurs feuilles
*  Solution 1 avec la method read_excel() de pandas
*  Solution 2 avec la methode ExcelFile() de pandas

In [16]:
### lire un fichier excel contenant plusieurs feuilles
url = 'https://www.data.gov.bf/sites/default/files/importationsdengraisenmillionsdefcfade2005a2011parproduitselonlanomenclaturectci_0.xlsx'

###  lister d'abord les noms des feuilles du fichier excel
# Solution 1 avec la method read_excel() de pandas
naissances2017_excel = pd.read_excel(url, None) # specifier le parametre None, le fichier sera lu comme 
                                                # un dictionnaire. les feuilles seront les clés, et les valeurs le contenu de la feuille
# naissances2017_excel
naissances2017_excel.keys()  # pour lister les noms des feuilles
naissances2017_excel['Feuil1']

     Engrais mineraux ou chimiques\npotassiques, nda   2005      0
0   Engrais, nda, contenant les trois\néléments fe...  2005  14834
1   Engrais, nda, contenant les deux\néléments fer...  2005   2426
2                                Autres engrais, nda   2005    120
3                                 Nitrate d'ammonium   2006     80
4                            Sulfonitrate d'ammonium   2006      0
..                                                ...   ...    ...
82  Sulfate de potassium d'une teneur en\nk2o <=53...  2011      2
83   Engrais minéraux ou chimiques\npotassiques, nda   2011      4
84  Engrais, nda, contenant les trois\néléments fe...  2011  23149
85  Engrais, nda, contenant les deux\néléments fer...  2011   2970
86                               Autres engrais, nda   2011    894

[87 rows x 3 columns]

In [17]:
# Solution 2 avec la methode ExcelFile() de pandas
xl_file = pd.ExcelFile(url)
xl_file.sheet_names   # pour lister les noms des feuilles
# xl_file.parse('Feuil2') # si vous voulez voir le contenu de la feuille

['Feuil1', 'Feuil2']

In [18]:
### Une fois que vous avez les noms des feuilles, vous pouvez le specifier en parametre comme suit:
naissances2017_excel = pd.read_excel(url,sheet_name='Feuil1')
naissances2017_excel.head()

    Engrais mineraux ou chimiques\npotassiques, nda   2005      0
0  Engrais, nda, contenant les trois\néléments fe...  2005  14834
1  Engrais, nda, contenant les deux\néléments fer...  2005   2426
2                               Autres engrais, nda   2005    120
3                                Nitrate d'ammonium   2006     80
4                           Sulfonitrate d'ammonium   2006      0

In [19]:
### Une fois que vous avez les noms des feuilles, vous pouvez le specifier en parametre comme suit:
naissances2017_excel = pd.read_excel(url,sheet_name=['Feuil1', 'Feuil2']) #ou en specifiant une liste de noms
naissances2017_excel

{'Feuil1':      Engrais mineraux ou chimiques\npotassiques, nda   2005      0
 0   Engrais, nda, contenant les trois\néléments fe...  2005  14834
 1   Engrais, nda, contenant les deux\néléments fer...  2005   2426
 2                                Autres engrais, nda   2005    120
 3                                 Nitrate d'ammonium   2006     80
 4                            Sulfonitrate d'ammonium   2006      0
 ..                                                ...   ...    ...
 82  Sulfate de potassium d'une teneur en\nk2o <=53...  2011      2
 83   Engrais minéraux ou chimiques\npotassiques, nda   2011      4
 84  Engrais, nda, contenant les trois\néléments fe...  2011  23149
 85  Engrais, nda, contenant les deux\néléments fer...  2011   2970
 86                               Autres engrais, nda   2011    894

 [87 rows x 3 columns],
 'Feuil2':       Engrais mineraux ou chimiques potassiques, nda   2005      0
 0   Engrais, nda, contenant les trois elements fer...  2005  14834
 1   Engrais, nda, contenant les deux elements fert...  2005   2426
 2                                Autres engrais, nda   2005    120
 3                                 Nitrate d'ammonium   2006     80
 4                            Sulfonitrate d'ammonium   2006      0
 ..                                                ...   ...    ...
 82  Sulfate de potassium d'une teneur en k2o <=532...  2011      2
 83    Engrais mineraux ou chimiques potassiques, nda   2011      4
 84  Engrais, nda, contenant les trois elements fer...  2011  23149
 85  Engrais, nda, contenant les deux elements fert...  2011   2970
 86                               Autres engrais, nda   2011    894

 [87 rows x 3 columns]}

In [ ]:
### Une fois que vous avez les noms des feuilles, vous pouvez le specifier en parametre comme suit:
naissances2017_excel = pd.read_excel(url,sheet_name=[0,1]) #ou en specifiant une liste d'index
# naissances2017_excel[0]
#

# 4 - Exporter un fichier Excel
* installer la librairie xlrd et openpyxl
* methode save()

In [20]:
### importons un jeux de données quelconque
url = "https://www.data.gov.bf/sites/default/files/listedescandidatsauxelectionslegislativeslisteprovincialeanptic.xlsx"
list_candidats = pd.read_excel(url)
list_candidats

,REGION_NOM,PROVINCE_NOM,CIRCONSCRIPTION,SIGLE,NOM_COMPLET,ORDDRE_TITULAIRE,NOM_TITULAIRE,PRENOMS_TITULAIRE,SEXE_TITULAIRE,DATE_NAISSANCE_TITULAIRE,ORDRE_SUPPLEANT,NOM_SUPPLEANT,PRENOMS_SUPPLEANT,SEXE_SUPPLEANT,DATE_NAISSANCE_SUPPLEANT
0,BOUCLE DU MOUHOUN,BALE,BALE,ADF-RDA,Alliance pour la Démocratie et la Fédération /...,1,SAWADOGO,ELIE,M,31/12/1979,1,OUATTARA,BRAHIMA,M,04/08/1975
1,BOUCLE DU MOUHOUN,BALE,BALE,ADF-RDA,Alliance pour la Démocratie et la Fédération /...,2,ZOUNGRANA,WENDPUIRE BENEDICTE,F,05/01/1989,2,DRABO,ZAKARIA,M,19/04/1989
2,BOUCLE DU MOUHOUN,BALE,BALE,A.F.P,Alliance des Forces Progressistes,1,KINDA,DAOUDA,M,29/12/1990,1,ILBOUDO,MAHAMADI,M,02/07/1984
3,BOUCLE DU MOUHOUN,BALE,BALE,A.F.P,Alliance des Forces Progressistes,2,OUEDRAOGO,SALAMATA,F,29/07/1980,2,KABORE,MAMOUDOU,M,31/12/1977
4,BOUCLE DU MOUHOUN,BALE,BALE,C.D.P,Congrès pour la Démocratie et le Progrès,1,GANOU,SEMANA,M,08/09/1965,1,SEYNOU,CHECK AB-DEL KADER,M,26/08/1967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,SUD-OUEST,PONI,PONI,UBN,Union pour un Burkina Nouveau,2,SOME,YERRI CELINE,F,04/06/1968,2,KAMBOU,WILFRID,M,12/02/1993
2814,SUD-OUEST,PONI,PONI,UNIR/PS,Union pour la Renaissance/Parti Sankariste,1,FARAMA,SEGUI AMBROISE,M,07/12/1976,1,DA,SANSAN BROU ALCA,M,23/09/1963
2815,SUD-OUEST,PONI,PONI,UNIR/PS,Union pour la Renaissance/Parti Sankariste,2,DA,YERI,F,24/09/1973,2,PODA,EDWIGE,F,28/10/1965
2816,SUD-OUEST,PONI,PONI,UPC,Union pour le Progrès et le Changement,1,PALENFO,KODJO JACQUES,M,31/12/1968,1,DOLI,BEBE,M,03/03/1966
2817,SUD-OUEST,PONI,PONI,UPC,Union pour le Progrès et le Changement,2,KAMBIRE,SANSAN,M,04/01/1962,2,NOUFE,HERY CELESTINE,F,29/12/1981

In [21]:
### nous alons etraire et exporter les candidats en fonction de leur sexe (basé sur 'SEXE_TITULAIRE')
men = list_candidats[list_candidats['SEXE_TITULAIRE']== "M"]
women = list_candidats[list_candidats['SEXE_TITULAIRE']=="F"]
women

,REGION_NOM,PROVINCE_NOM,CIRCONSCRIPTION,SIGLE,NOM_COMPLET,ORDDRE_TITULAIRE,NOM_TITULAIRE,PRENOMS_TITULAIRE,SEXE_TITULAIRE,DATE_NAISSANCE_TITULAIRE,ORDRE_SUPPLEANT,NOM_SUPPLEANT,PRENOMS_SUPPLEANT,SEXE_SUPPLEANT,DATE_NAISSANCE_SUPPLEANT
1,BOUCLE DU MOUHOUN,BALE,BALE,ADF-RDA,Alliance pour la Démocratie et la Fédération /...,2,ZOUNGRANA,WENDPUIRE BENEDICTE,F,05/01/1989,2,DRABO,ZAKARIA,M,19/04/1989
3,BOUCLE DU MOUHOUN,BALE,BALE,A.F.P,Alliance des Forces Progressistes,2,OUEDRAOGO,SALAMATA,F,29/07/1980,2,KABORE,MAMOUDOU,M,31/12/1977
6,BOUCLE DU MOUHOUN,BALE,BALE,COPAC,Conseil du Peuple pour l’Action,1,KALMOGO,WILIGUIBA,F,31/12/1955,1,KOURAOGO,AMINATA,F,31/12/1936
7,BOUCLE DU MOUHOUN,BALE,BALE,COPAC,Conseil du Peuple pour l’Action,2,KINDA,TIPOKO,F,31/12/1940,2,NABOLLE,AICHA,F,31/12/1949
9,BOUCLE DU MOUHOUN,BALE,BALE,F.F.S,Front des Forces Sociales,2,BATIENE,YEPENE HADIA MELISSA,F,03/03/1992,2,NAON,KOABIE,M,31/12/1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,SUD-OUEST,PONI,PONI,MPR/B,Mouvement Patriotique pour le Renouveau du Bu...,1,FOROGO,MARIE JEANNE,F,29/08/1969,1,KAMBOU,BADIMAMBAR ANATOLE OLLO,M,03/01/1970
2805,SUD-OUEST,PONI,PONI,PAREN,Parti de la Renaissance Nationale,2,DA,OHO GERMAINE,F,15/06/1987,2,YOUL,SIE,M,31/12/1973
2809,SUD-OUEST,PONI,PONI,PDS / METBA,Parti pour la Démocratie et le Socialisme/Part...,2,DABIRE,TIERIPUO DENISE,F,09/10/1981,2,KAM,FULGENCE,M,04/09/1977
2813,SUD-OUEST,PONI,PONI,UBN,Union pour un Burkina Nouveau,2,SOME,YERRI CELINE,F,04/06/1968,2,KAMBOU,WILFRID,M,12/02/1993
2815,SUD-OUEST,PONI,PONI,UNIR/PS,Union pour la Renaissance/Parti Sankariste,2,DA,YERI,F,24/09/1973,2,PODA,EDWIGE,F,28/10/1965

In [22]:
## Créer/initialiser d'abord un ExcelWritter Object
excel_file = pd.ExcelWriter("candidates.xlsx")
# identique a un objetc pd => pd.DataFrame()
# utiliser ensuite to_excel()
men.to_excel(excel_file,sheet_name='men',index = False)

In [23]:
# same for women
women.to_excel(excel_file,sheet_name='women',index = False)

In [24]:
### Nous pouvons aussi specifier les colonnes à enregistrer
# same for women
women.to_excel(excel_file,sheet_name='sub_women',index = False, columns= ['REGION_NOM',	'PROVINCE_NOM',	'CIRCONSCRIPTION',	'SIGLE'])

In [25]:
### utiliser maintenant la methode save() pour enregistrer le fichier excel_file que nous nous avons initialisé
excel_file.save()

## 5- Importer et Exporter un fichier Json

In [ ]:
## commencer par importer la lib json
import json

#### La fonction load()

In [ ]:
def read_json(json_file):
    with open('filename.json') as f:
        data = json.load(f)
    return data

#### La fonction dump()

In [ ]:
# Prend en parametre un dictionnaire
def save_to_json(dic):
    with open("filename.jsonl", encoding='utf8') as outf: # utiliser utf8 pour assurer le bon formatqge des données
                                                            # textuelles
        json.dump(dic, ensure_ascii=False)
        outf.write()

## 6- Importer et Exporter un fichier Texte

#### Lire un document entier

In [ ]:
# fxn1 pour lire des données dans un fichier txt
def read_txt_file(file):
    with open(file) as f:
        body = f.read()
    return body# vous pouvez utilise .splitlines() pour obtenir la liste de lignes

#### Lire un document ligne par ligne

In [ ]:
# fxn2 pour lire des données dans un fichier txt
def read_txt_file_line_by_line(file):
    with open(file) as f:
        lines = f.readlines()# # liste contenant toutes les lignes
        """vous pouvez utiliser une bouble pour recuperer chaque ligne
            ou utiliser directement la focntion readline()
        """
    return lines

#### Exporter des données dans un fichier txt
* https://www.pythontutorial.net/python-basics/python-write-text-file/

In [ ]:
# fxn pour ecrire des données dans un fichier txt
def write_to_txt(data):
    with open('filename.txt', 'w') as f: # 'w' ==> ouvrir un nouveau fichier en mode écriture                                         # 
                                        # 'a' ==> ouvrir un nouveau fichier en mode ajout, un nouveau fichier sera crée, s'il n'existe pas encore 
        f.write(data) # ecriture des données
        
### Quelques notes
# f.write('\n') => permet d'ecrire un String dans un txt
# f.writelines('\n') => permet d'ecrire une liste de string dans un fichier txt.
# '\n' => signifie retour à la ligne après ecriture
######